{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
	.scratch_table {
		font-size: 1.3em;
	}
</style>


<h3 style="width:80%; margin:0 auto; margin-top:5em; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px; padding-top:3em"><a href="{{request.META.HTTP_REFERER}}">< Return to simulation</a></h3>


<div class="media" style="width:80%; margin:0 auto; margin-top:2em; background-color:#EEEEEE; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px; padding-top:3em">
  <div class="media-left media">
    <a href="#">
    	{% with 'assets/characters/profile/'|add:persona_name_underscore|add:'.png' as image_static %}
      <img class="media-object" src="{% static image_static %}" style="width:5em">
      {% endwith %}
    </a>
  </div>
  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
  	<div class="row">
    	<h1 class="col-md-8" style="margin-bottom:0.8em; font-size:2em; ">
    		{{persona_name}} ({{scratch.role|title}})
    	</h1>
    </div>
    <div style="">
		  <h3 style="font-size:1.65em"><strong>State</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">Balance</td>
			    <td>{{ scratch.balance|default:0|floatformat:6 }}</td>
			  </tr>
			  {% if scratch.stored %}
			  <tr>
			    <td style="font-weight:800">Stored</td>
			    <td>{{ scratch.stored|floatformat:6 }}</td>
			  </tr>
			  {% endif %}
			  <tr>
			    <td style="font-weight:800">Collected</td>
			    <td>{{ scratch.lifetime_collected|default:0|floatformat:6 }}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">Lost</td>
			    <td>{{ scratch.lifetime_lost|default:0|floatformat:6 }}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">Net</td>
			    <td>{{ scratch.lifetime_net|default:0|floatformat:6 }}</td>
			  </tr>
			</table>
			<br>

			<hr style="border:solid; border-width:1px">
			<h3 style="font-size:1.65em"><strong>Activity</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">Action</td>
			    <td>{{scratch.action}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">Location</td>
			    <td>{{ scratch.activity_location|default:scratch.curr_tile }}</td>
			  </tr>
			</table>
			<br>

			<hr style="border:solid; border-width:1px">
			<h3 style="font-size:1.65em"><strong>Flow</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td>{{scratch.flow}}</td>
			  </tr>
			</table>
			<br>

			<hr style="border:solid; border-width:1px">
			<h3 style="font-size:1.65em"><strong>Recent</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td>
			    	{% if scratch.recent_display %}
			    	  {% for tx in scratch.recent_display %}
			    	  - {{ tx }}<br>
			    	  {% endfor %}
			    	{% elif scratch.recent_lines %}
			    	  {% for line in scratch.recent_lines %}
			    	  - {{ line }}<br>
			    	  {% endfor %}
			    	{% else %}
			    	  None
			    	{% endif %}
			    </td>
			  </tr>
			</table>
			<br>
		</div>
  </div>
</div>
{% endblock content %}
